window {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px;
}

#input {
    background-color: #3c3836;
    color: #ebdbb2;
    border-radius: 5px;
    padding: 6px;
}

#entry {
    padding: 4px;
    margin: 3px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #458588;
    color: #282828;
}

